body{
    font-family: 'Montserrat', sans-serif;
    background-color: #ECEDF3;
    position: absolute;

  }

  .staysafe_container{
    width: auto;
    position: absolute;
  }

  .container-1{
    height: 850px;
    display: flex;
    margin-left: 50px;

  }



  .column {
    float: left;
    width: 50%;
  }





  .intro{
    color: #212224;
    font-size: 2.5rem;
    padding: 120px 50px 0px 0px;

  }

  /* padding: top right bottom left */
  .message{
    color: #3B3C42;
    font-size: 0.89rem;
    padding: 0px 200px 10px 10px;
  }

  .btndowload{
    padding: 0px 10px 10px 10px;
  }

  .dowload_here {
    font-weight: bold;
    border: none;
    font-family: Montserrat;
    font-size: 1.19rem;
    color: white;
    background-color: #008037;
    border-radius: 100px;
    padding: 20px 20px 20px 20px;
    transform-origin: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  .container-2{
    margin-left: 50px;

    height: 1000px;
  }


  .title_containter2 {
    color: #212224;
    font-size: 2rem;
    text-align: center;

  }


  .flex-container {

    flex-direction:row;
    display: -webkit-flex;
    height: 750px;
    align-content: center;

  }

  .flex-item {
    height: 490px;
  }


  .img-with-text{
    background-color: #f3f4f793;
    align-content: center;
    width: 80%;
    height: 500px;
    margin: 10px;
    order: 1;
    margin-left: auto;
    margin-right: auto;
  }


  .img-with-text {
    text-align: justify;
    width: 30%;
  }

  .features{
    color: #212224;
    font-size: 2rem;
    text-align: center;
  }

  .caption{
    color: #3B3C42;
    font-size: 1.5rem;
  }



  .container-3{
    margin-left: 50px;
    height: 900px;
  }


  .round-header{
    border-radius: 25px;
    width: 1800px;
    height: 310px;
    margin: auto;
    background-image: url("../../Images/frontpage/banner.png");
    padding: 10px;
  }


  .protect-title{
    color: #212224;
    margin-left: 30px;
    font-size: 3rem;
  }


  .protect-caption{
    color: #212224;
    margin-left: 30px;
    font-size: 2rem;
  }

  /* .app-button{
    background-color: #01AAAD;
    width: 150px;
    margin: 30px 30px;
    display:inline-block;
    line-height: 60px;
  }

   */


   .button-wrapper{
    display:inline-block;
    margin-left: 30px;
  }

  .btn-download{
    font-weight: bold;
    border: none;
    font-family: Montserrat;
    font-size: 1rem;
    color: white;
    background-color: #008037;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    transform-origin: center;
    width: 300px;
    cursor: pointer;

  }


  .btn-adminofficial{
    font-weight: bold;
    border: none;
    font-family: Montserrat;
    font-size: 1rem;
    color: white;
    background-color: #1A2E84;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    transform-origin: center;
    width: 300px;

    cursor: pointer;
  }



  .column-phone {
    float: left;
    margin-left: 100px;
    width: 35%;
  }

  .column-steps {
    float: left;
    width: 55%;
  }


  .title-how{
    color: #212224;
    font-size: 3.2rem;
    padding: 30px 50px 0px 0px;

  }






















/* 

    nav{
      float:right;
      padding: 0px 0px 0px 50px;
    }

    .nav-logo img{
      padding: 0px 0px 0px 90px;

      float:left;
    }

    .navbar-ul{
      display: inline-block;
      padding: 0px 90px 0px 0px;
      font-size:20px;
      font-family:raleway;
    }

    .navbar-li{
      display: inline-block;
      padding: 0px 90px 0px 0px;
      font-size:20px;
      font-family:raleway;
    }


    .nav-login {
      border: none;
      font-family: Montserrat;
      font-size: 1.7rem;
      color: white;
      background-color: #008037;
      border-radius: 100px;
      padding: 10px 30px 10px 30px;
      transform-origin: center;
      position: relative;
      overflow: hidden;
      cursor: pointer;
    }
     */
